<div class="container">
<h1><%= @cocktail.name %></h1>
<h4>How to make this cocktail:</h4>
<ul>
<% @cocktail.doses.each do |dose| %>
  <li><%= dose.ingredient.name %> : <%= dose.description %> <%= link_to 'Delete Ingredient', dose_path(dose), method: :delete %></li>
<% end %>
</ul>


<%= link_to 'Add another ingredient', new_cocktail_dose_path(@cocktail), class: 'btn btn-primary btn-sm' %>
<%= link_to 'back', cocktails_path, class: 'btn btn-primary btn-sm' %>
</div>
